/ {
	fpga_axi: fpga-axi@0 {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		ranges ;
		axi_iic_fmc: i2c@41620000 {
			compatible = "xlnx,axi-iic-2.1", "xlnx,xps-iic-2.00.a";
			reg = <0x41620000 0x10000>;
			clock-names = "s_axi_aclk";
			clocks = <&clkc 15>;
			interrupt-names = "iic2intc_irpt";
			interrupt-parent = <&intc>;
			interrupts = <0 34 4>;
			#address-cells = <1>;
			#size-cells = <0>;
		};
		openwifi_ip_axi_dma_0: dma@80400000 {
			#dma-cells = <1>;
			clock-names = "s_axi_lite_aclk", "m_axi_sg_aclk", "m_axi_mm2s_aclk", "m_axi_s2mm_aclk";
			clocks = <&misc_clk_0>, <&misc_clk_0>, <&misc_clk_0>, <&misc_clk_0>;
			compatible = "xlnx,axi-dma-7.1", "xlnx,axi-dma-1.00.a";
			interrupt-names = "mm2s_introut", "s2mm_introut";
			interrupt-parent = <&intc>;
			interrupts = <0 54 4 0 53 4>;
			reg = <0x80400000 0x10000>;
			xlnx,addrwidth = <0x20>;
			xlnx,include-sg ;
			xlnx,sg-length-width = <0xe>;
			dma-channel@80400000 {
				compatible = "xlnx,axi-dma-mm2s-channel";
				dma-channels = <0x1>;
				interrupts = <0 54 4>;
				xlnx,datawidth = <0x40>;
				xlnx,device-id = <0x0>;
				xlnx,include-dre ;
			};
			dma-channel@80400030 {
				compatible = "xlnx,axi-dma-s2mm-channel";
				dma-channels = <0x1>;
				interrupts = <0 53 4>;
				xlnx,datawidth = <0x40>;
				xlnx,device-id = <0x0>;
				xlnx,include-dre ;
			};
		};
		misc_clk_0: misc_clk_0 {
			#clock-cells = <0>;
			clock-frequency = <100000000>;
			compatible = "fixed-clock";
		};
		openwifi_ip_axi_dma_1: dma@80410000 {
			#dma-cells = <1>;
			clock-names = "s_axi_lite_aclk", "m_axi_sg_aclk", "m_axi_mm2s_aclk", "m_axi_s2mm_aclk";
			clocks = <&misc_clk_0>, <&misc_clk_0>, <&misc_clk_0>, <&misc_clk_0>;
			compatible = "xlnx,axi-dma-7.1", "xlnx,axi-dma-1.00.a";
			dma-coherent ;
			interrupt-names = "mm2s_introut", "s2mm_introut";
			interrupt-parent = <&intc>;
			interrupts = <0 57 4 0 56 4>;
			reg = <0x80410000 0x10000>;
			xlnx,addrwidth = <0x20>;
			xlnx,include-sg ;
			xlnx,sg-length-width = <0xe>;
			dma-channel@80410000 {
				compatible = "xlnx,axi-dma-mm2s-channel";
				dma-channels = <0x1>;
				interrupts = <0 57 4>;
				xlnx,datawidth = <0x40>;
				xlnx,device-id = <0x1>;
				xlnx,include-dre ;
			};
			dma-channel@80410030 {
				compatible = "xlnx,axi-dma-s2mm-channel";
				dma-channels = <0x1>;
				interrupts = <0 56 4>;
				xlnx,datawidth = <0x40>;
				xlnx,device-id = <0x1>;
				xlnx,include-dre ;
			};
		};
		openwifi_ip_tx_intf_0: tx_intf@83c00000 {
			clock-names = "dac_clk", "s00_axi_aclk", "s00_axis_aclk";
			clocks = <&misc_clk_1>, <&misc_clk_0>, <&misc_clk_0>;
			compatible = "xlnx,tx-intf-1.0";
			reg = <0x83c00000 0x10000>;
			xlnx,s00-axi-addr-width = <0x7>;
			xlnx,s00-axi-data-width = <0x20>;
		};
		openwifi_ip_rx_intf_0: rx_intf@83c20000 {
			clock-names = "adc_clk", "s00_axi_aclk", "m00_axis_aclk";
			clocks = <&misc_clk_1>, <&misc_clk_0>, <&misc_clk_0>;
			compatible = "xlnx,rx-intf-1.0";
			interrupt-names = "rx_pkt_intr";
			interrupt-parent = <&intc>;
			interrupts = <0 58 4>;
			reg = <0x83c20000 0x10000>;
			xlnx,s00-axi-addr-width = <0x7>;
			xlnx,s00-axi-data-width = <0x20>;
		};
		openwifi_ip_openofdm_tx_0: openofdm_tx@83c10000 {
			clock-names = "clk", "s00_axi_aclk";
			clocks = <&misc_clk_0>, <&misc_clk_0>;
			compatible = "xlnx,openofdm-tx-1.0";
			reg = <0x83c10000 0x10000>;
			xlnx,s00-axi-addr-width = <0x7>;
			xlnx,s00-axi-data-width = <0x20>;
		};
		openwifi_ip_openofdm_rx_0: openofdm_rx@83c30000 {
			clock-names = "s00_axi_aclk";
			clocks = <&misc_clk_0>;
			compatible = "xlnx,openofdm-rx-1.0";
			reg = <0x83c30000 0x10000>;
			xlnx,s00-axi-addr-width = <0x7>;
			xlnx,s00-axi-data-width = <0x20>;
		};
		openwifi_ip_xpu_0: xpu@83c40000 {
			clock-names = "ps_clk", "s00_axi_aclk";
			clocks = <&clkc 15>, <&misc_clk_0>;
			compatible = "xlnx,xpu-1.0";
			reg = <0x83c40000 0x10000>;
			xlnx,s00-axi-addr-width = <0x8>;
			xlnx,s00-axi-data-width = <0x20>;
		};
		openwifi_ip_side_ch_0: side_ch@83c50000 {
			clock-names = "m00_axis_aclk", "s00_axis_aclk", "s00_axi_aclk";
			clocks = <&misc_clk_0>, <&misc_clk_0>, <&misc_clk_0>;
			compatible = "xlnx,side-ch-1.0";
			reg = <0x83c50000 0x10000>;
			xlnx,s00-axi-addr-width = <0x7>;
			xlnx,s00-axi-data-width = <0x20>;
		};
		misc_clk_1: misc_clk_1 {
			#clock-cells = <0>;
			clock-frequency = <40000000>;
			compatible = "fixed-clock";
		};

		// sdr: sdr {
		// 	compatible ="sdr,sdr";
		// 	dmas = <&rx_dma 1 &tx_dma 0>;
		// 	dma-names = "rx_dma_s2mm", "tx_dma_mm2s";
		// 	interrupt-names = "not_valid_anymore", "rx_pkt_intr", "tx_itrpt";
		// 	interrupt-parent = <1>;
		// 	interrupts = <0 29 1 0 30 1 0 33 1 0 34 1>;
		// };

		// axidmatest_1: axidmatest@1 {
		// 	compatible ="xlnx,axi-dma-test-1.00.a";
		// 	dmas = <&rx_dma 0 &rx_dma 1>;
		// 	dma-names = "axidma0", "axidma1";
		// };

		// rx_dma: dma@7c400000 {
		// 	compatible = "adi,axi-dmac-1.00.a";
		// 	reg = <0x7c400000 0x10000>;
		// 	#dma-cells = <1>;
		// 	interrupts = <0 57 0>;
		// 	clocks = <&clkc 16>;

		// 	adi,channels {
		// 		#size-cells = <0>;
		// 		#address-cells = <1>;

		// 		dma-channel@0 {
		// 			reg = <0>;
		// 			adi,source-bus-width = <64>;
		// 			adi,source-bus-type = <2>;
		// 			adi,destination-bus-width = <64>;
		// 			adi,destination-bus-type = <0>;
		// 		};
		// 	};
		// };

		// tx_dma: dma@7c420000 {
		// 	compatible = "adi,axi-dmac-1.00.a";
		// 	reg = <0x7c420000 0x10000>;
		// 	#dma-cells = <1>;
		// 	interrupts = <0 56 0>;
		// 	clocks = <&clkc 16>;

		// 	adi,channels {
		// 		#size-cells = <0>;
		// 		#address-cells = <1>;

		// 		dma-channel@0 {
		// 			reg = <0>;
		// 			adi,source-bus-width = <64>;
		// 			adi,source-bus-type = <0>;
		// 			adi,destination-bus-width = <64>;
		// 			adi,destination-bus-type = <2>;
		// 		};
		// 	};
		// };

		cf_ad9361_adc_core_0: cf-ad9361-lpc@79020000 {
			compatible = "adi,axi-ad9361-6.00.a";
			reg = <0x79020000 0x6000>;
			// dmas = <&rx_dma 0>;
			// dma-names = "rx";

			spibus-connected = <&adc0_ad9361>;
		};

		cf_ad9361_dac_core_0: cf-ad9361-dds-core-lpc@79024000 {
			compatible = "adi,axi-ad9361-dds-6.00.a";
			reg = <0x79024000 0x1000>;
			clocks = <&adc0_ad9361 13>;
			clock-names = "sampl_clk";
			// dmas = <&tx_dma 0>;
			// dma-names = "tx";
		};
	};

	leds {
		compatible = "gpio-leds";
		ld0 {
			label = "ld0:red";
			gpios = <&gpio0 73 0>;
		};

		ld1 {
			label = "ld1:red";
			gpios = <&gpio0 74 0>;
		};

		ld2 {
			label = "ld2:red";
			gpios = <&gpio0 75 0>;
		};

		ld3 {
			label = "ld3:red";
			gpios = <&gpio0 76 0>;
		};

		ld4 {
			label = "ld4:red";
			gpios = <&gpio0 77 0>;
		};

		ld5 {
			label = "ld5:red";
			gpios = <&gpio0 78 0>;
		};

		ld6 {
			label = "ld6:red";
			gpios = <&gpio0 79 0>;
		};

		ld7 {
			label = "ld7:red";
			gpios = <&gpio0 80 0>;
		};
	};
};
